body{font-family: 'Source Serif Pro', serif;}
body{margin:0;}
h1{
    font-size: 50px;
}
h2{font-size:40px};
.name
{color:orange;}

.fasion{
    width: 40%;
    float: left;
    margin-left: 5%;padding-left: 2%;
   
}
.fasion img{width: 80%;}
.banner{
    background-image: url("style.css/top-banner.png");


}
  

.button{
    text-decoration: none;
    background-image: linear-gradient(lightSalmon,tomato);
    padding: 20px 35 px;
    margin: 5px;
    border-radius: 5%;
    color: white;
    font-weight: bold;
}

.name{color:blue;} 
.sohel{
    width: 40%;
    float: left;
    margin-left: 5%;padding-left: 2%;


}
section{padding-bottom: 150px;
height: 350px;}
.sohel img{width: 80%;}

.buttonbig{
    text-decoration: none;
    background-image: linear-gradient(lightSalmon,tomato);
   border:none;
  
    border-radius: 5%;
    color: white;
    font-weight: bold;
}
    
.dream{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 95px;
    padding: 10px;
  box-shadow: 10px 10px 40px grey;


}
.big-size{
    margin-left: 80px;

}
.expreance-area{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left 20px;
}
#full-stack{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image:linear-gradient(180deg,blue, cyan);
    border-image-slice: 1;
}   

footer p{
    text-align: center;
font-size: 12px;

}